.part-form-container {
	background: white;
	border-radius: 8px;
	box-shadow: none;
	padding: 30px;
	max-width: 500px;
	width: 100%;
	margin: 20px auto;
}

.part-form-container .header {
	text-align: center;
	margin-bottom: 25px;
}

.part-form-container .header h1 {
	font-size: 2.2em;
	font-weight: bold;
	color: #737373;
	letter-spacing: 1px;
    background: none;
    -webkit-text-fill-color: initial;
}

.form-section-parts {
	margin-bottom: 30px;
	background: none;
	border-radius: 0;
	padding: 0;
	border-left: none;
	box-shadow: none; 
}

.form-section-parts h2 {
	color: #737373;
	text-align: center;
	margin-bottom: 25px;
	font-size: 1.6em;
	text-transform: uppercase;
	padding-bottom: 8px;
    border-bottom: none;
    font-weight: normal; 
}

.form-section-parts form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.form-group-parts,
.form-group {
	display: flex;
	flex-direction: column;
}

.form-group-parts input,
.form-group input,
.dropdown-field {
	padding: 12px;
	border: 2px solid #333; 
	border-radius: 8px;
	font-size: 15px;
	color: #737373;
	transition: all 0.3s ease;
	width: 100%;
    box-sizing: border-box;
}

.form-group-parts input:focus,
.form-group input:focus,
.dropdown-field:focus {
	outline: none;
	box-shadow: 0 0 10px #f0f0f0; 
	background: #f0f0f0;
    border-color: #333;
}

.form-group-parts input::placeholder,
.form-group input::placeholder {
	color: #aaa;
    font-weight: normal;
}

.btn-concluido-parts {
	padding: 12px 24px;
	border: none;
	border-radius: 8px;
	font-size: 1em; 
	font-weight: 500; 
	cursor: pointer;
	transition: all 0.3s ease;
    margin-top: 20px;
    width: 100%;
    
	background-color: #000;
	color: #fff;
}

.btn-concluido-parts:hover {
	background-color: #444;
	transform: translateY(-2px);
    box-shadow: none;
}